[flake8]
max-line-length = 99
ignore = W503
exclude =
    .git
    .tox
    venv*

    # pending revision
    cssselect/__init__.py
    cssselect/parser.py
    cssselect/xpath.py
    docs/conf.py
    setup.py
    tests/test_cssselect.py
