[flake8]
max-line-length = 99
ignore =
    W503
    # too many leading '#' for block comment
    E266
    E704
exclude =
    .git
    .tox
    venv*

    # pending revision
    docs/conf.py
per-file-ignores =
    cssselect/__init__.py:F401
